<%- include('../partials/header') %>

  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          - 
        <%= s.versed ? 'yes' : 'no' %>
      </li>
      <form action="skills/<%= s.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="'submit">Delete</button>
          </form>
    <% }); %>
  </ul>
      <a href="/skills/new">Add New Skills</a>

<%- include('../partials/footer') %>


